modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5173

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 43833926
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
