modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5174
externalPort = 3000

[workflows]

[[workflows.workflow]]
name = "Run dev"
mode = "sequential"
author = 43833926

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
