* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f8faff;
  color: #111936;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
  font: inherit;
}
